<div ng-include="'nav.html'"></div>
<div class="container">
  <div id="error_messages" class="alert alert-danger" role="alert" style="display:none"></div>

  <div class="row" ng-hide="contribution._id">
    <div class="col-md-6">
        <h2>Create new contribution</h2>
    </div>
  </div>
  <div class="container">
    <div id="error_messages" class="alert alert-danger" role="alert" style="display:none"></div>
    <div>
      <p>
        <label>Title (required)</label>
        <input id="title" class="form-control" type="text" ng-model="contribution.title" required>
      </p>
      <p>
        <label>Text</label>
        <textarea id="text" rows="6" class="form-control" ng-model="contribution.text" required></textarea>
      </p>
      <p>
        <label>Url</label>
        <input id="url" class="form-control" type="text" ng-model="contribution.url" required>
      </p>
      <p>
        <button style="margin-top:20px" class="btn btn-default" ng-click="saveContribution(contribution)">save</button>
        <button style="margin-top:20px" class="btn btn-default" ng-click="back()">cancel</button>
      </p>
    </div>
  </div>

</div>